body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 60px;
    background-color: #333;
    color: #fff;
    padding: 0 20px;
}

.logout-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

h1 {
  text-align: center;
  margin-top: -150px; /* 向上移動 */
}

span {
  margin: 10px 0;
  font-size: 25px;
}

#username {
  margin-bottom: 100px; /* 將此值根據需要進行調整 */
}

.button-text {
  font-size: 20px;
  color: #555;
  margin-top: -90px; /* 調整需要的上方間距值 */
}

.button {
  padding: 10px 20px;
  width: 300px;
  margin: 10px; /* 添加按鈕之間的間距 */
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.under-line {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    height: 30px;
    line-height: 30px;
    display: block;

}


@media screen and (max-width: 480px) {
  .login-form {
      width: 90%;
  }
  .button {
    width: 90%; /* 在 RWD 的情況下，將按鈕寬度設置為 100% */
    margin: 10px 0; /* 調整按鈕在垂直方向上的間距 */
  }

}
