
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}


.h1top h1 {
  margin: 0;
  font-size: 30px;
}

.h1top {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.h1{
  text-shadow: 2px 2px 2px #888888;
  position: absolute;
  top: 0px;
  left : 20px; 
  text-align: center;
  color: #000000;
  font-weight: bold;
  margin-top: 0;
}

.pagination {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.submit_div1 {
  flex: 1;
}

.submit_div2 {
  flex: 1;
}

.allform{
  width: 100%;
  height: 100%;
}




.addform,
.submitdownloadbtn {
  margin: 3px;
  padding: 7px 12px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center; /* 將內容水平居中 */
  align-items: center; /* 將內容垂直居中 */
  border-top: 2px solid #dadada;
  border-right: 2px solid #dadada;
  box-shadow: 0px 4px rgb(0, 90, 185);
}

.addform:hover,
.submitdownloadbtn:hover {
  background-color: #005bbd;
  cursor: pointer;
}


@media screen and (max-width: 425px) {
  .pagination {
    flex-direction: column-reverse;
  }

}



.under-line {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  height: 30px;
  line-height: 30px;
  display: block;
}