.popup_excel_down_div {
    width: 360px;
}

.pped_header_container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}
.pped_h_title {
    padding: 4px 48px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    background-color: rgb(68, 68, 68);
    color: #ebebeb;
    border-radius: 5px;
}
.pped_h_close_btn {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 36px;
    top: 0px;
    right: 0px;
}
.pped_time_div {
    margin: 12px auto;
}
.pped_time_div > label {
    padding: 0px 12px;
    font-size: 18px;
    font-weight: 600;
}
.pped_time_div > input {
    padding: 2px 4px;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #000;
    border-radius: 5px;
}
.pped_footer_container {
    display: flex;
    justify-content: center;
}