.popup_search_select_div {
    width: 360px;
}

.pps_header_container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}
.pps_h_title {
    padding: 4px 48px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    background-color: rgb(68, 68, 68);
    color: #ebebeb;
    border-radius: 5px;
}
.pps_h_close_btn {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 36px;
    top: 0px;
    right: 0px;
}
.search_mode_select_container {
    display: none;
    /* display: flex; */
    justify-content: space-evenly;
    align-items: center;
}
.search_mode_div {
    display: flex;
    align-items: center;
}
.search_mode_input {
    margin-top: 4px;
    margin-right: 4px;
}
.search_mode_label {
    font-size: 18px;
}
#pps_date_input {
    display: block;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #000000;
}
.pps_condition_container {
    width: 100%;
    padding: 1px 14px;
    border-radius: 5px;
    background-color: #c5c5c5;
    margin: 12px 0px;
}
.pps_content_container {
    display: flex;
    margin: 16px 0px;
}
#pps_input_condition {
    text-align: center;
    width: 96px;
    margin-right: 6px;
    border-radius: 5px;
    border: 1px solid #000000;
    font-size: 16px;
    padding: 4px;
}
#pps_input,
#pps_select {
    flex-grow: 1;
    font-size: 16px;
    padding: 2px;
    border-radius: 5px;
    border: 1px solid #000000;
}
.pps_select_label {
    text-align: center;
    width: 96px;
    margin-right: 6px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #636363;
    color: white;
    padding: 4px;
}
.pps_footer_container {
    justify-content: space-between;
}