.popup_cht_med_content_div {
    width: 660px;
}
.ppcmc_header_container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 12px;
}

.ppcmc_h_title {
    width: 160px;
    text-align: center;
    padding: 4px;
    font-size: 20px;
    font-weight: 600;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
}
.ppcmc_h_close_btn {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 36px;
    top: 0px;
    right: 0px;
}
.pps_footer_container {
    justify-content: space-between;
}
.pp_patient_info_container {
    padding: 8px 24px 12px;
}
.pppi_div {
    display: flex;
    align-items: center;
}
.pppi_div > span {
    letter-spacing: 0.5rem;
    line-height: 28px;
    display: block;
    margin-right: 16px;
}
.pppi_patient_label {
    margin-right: 0px !important;
    width: 96px;
}
.pp_med_table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #000;
}
.col1 { width: 5%; }
.col2 { width: 35%; }
.col3 { width: 10%; }
.col4 { width: 10%; }
.col5 { width: 10%; }
.col6 { width: 10%; }
.col7 { width: 15%; }