.popup_search_select_div {
    width: 360px;
}

.pps_header_container {
    width: 100%;
    text-align: center;
    padding: 4px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
}
.pps_footer_container {
    justify-content: space-between;
}
.select_trigger_container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 12px 0px;
}
.tirgger_checkbox_container {
    margin: 8px 24px 8px 0px;
}
.trigger_label {
    display: flex;
    align-items: center;
}
.trggier_container {
    height: 28px;
    border-radius: 14px;
    width: 50px;
    background-color: rgb(150, 150, 150);
    margin-right: 8px;
    transition: all 0.2s;
    cursor: pointer;
}
.trggier_switch {
    position: relative;
    top: 2px;
    left: 2px;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: #fff;
    transition: all 0.2s;
}
.trggier_content {
    font-weight: 600;
}
.search_checkbox {
    display: none;
}
.search_checkbox:checked + .trigger_label > .trggier_container {
    background-color: rgb(39, 39, 39);
    transition: all 0.2s;
}
.search_checkbox:checked + .trigger_label > .trggier_container > .trggier_switch {
    top: 2px;
    left: 24px;
    transition: all 0.2s;
}

.select_med_kind,
.select_patient_kind,
.select_date_kind {
    padding: 4px 2px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
}
#select_med_input,
#select_patient_input {
    padding-left: 2px;
    font-size: 16px;
    font-weight: 600;
    flex-grow: 1;
}

.select_date_kind {
    margin: 0px auto 8px;
    width: 120px;
    text-align: center;
}
.popup_date_start_container {
    margin-bottom: 8px;
}
.popup_date_start_container,
.popup_date_end_container {
    display: flex;
    align-items: center;
}
.ppds_lable {
    font-weight: 600;
    margin-right: 8px;
}
#ppds_start_input,
#ppds_end_input {
    font-weight: 600;
    font-size: 16px;
    flex-grow: 1;
    text-align: center;
}