
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
html, body {
  touch-action: manipulation;
}
.header_div
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff; /* 可以根据你的设计修改背景颜色 */
  z-index: 100; /* 使Header显示在其他内容之上 */
}
.under-line {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #000000;
  background-color: #ffffff;
  height: 30px;
  line-height: 30px;
  display: block;
  z-index: 9;
}
.h1{
  text-shadow: 2px 2px 2px #888888;
  font-size: 30px;
  left : 20px; 
  margin-left: 10px;
  text-align: left;
  color: #000000;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.sbp_header_title {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.sbp_header_undo {
  right: 16px;
  top: 0px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.sbp_header_undo > img {
  width: 100%;
}
.sbp_main_div {
  padding: 0px 16px;
  overflow-y: auto;
}
.sbp_med_list_container {
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #000000;
  margin: 8px 0px 12px;
  background-color: transparent;
  transition: all 0.3s ease-in;
}
.sbp_med_list_container:hover {
  background-color: #c0c0c0;
  transition: all 0.3s ease-in;
}
.sbp_med_list_pon {
  font-size: 16px;
  font-weight: 600;
  padding: 8px;
}
.sbp_med_list_name, .sbp_med_list_ctname {
  color: #484848;
  font-size: 14px;
  font-weight: 600;
  padding: 8px;
}
.row_div {
  width: 90% !important;
}
.main_div {
  height: auto !important;
}
/* @media screen and (max-width: 1024px) {
  .row_div {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .row_div {
    width: 354px;
  }
} */


.almcontrol_btn{border-radius: 5px; background-color:#eb3232; padding:0 20px; color:#fff; transition:.2s;}
.almcontrol_btn:hover{ background-color:#e76d6d; transition:.2s;}

.control_btn{border-radius: 5px; background-color:#005798; padding:0 20px; color:#fff; transition:.2s;}
.control_btn:hover{ background-color:#0c6eb7; transition:.2s;}
.link_btn{ border-radius: 5px;  background-color:#AAAAAA; padding:0 20px; color:#fff; transition:.2s;}
.link_btn:hover{ background-color:#929292; transition:.2s;}

.calculate_btn{ border-radius: 5px;  background-color:#c9c9bc; padding:0 20px; color:#fff; transition:.2s;}
.calculate_btn:hover{ background-color:#c9c9bc; transition:.2s;}


