.popup_pharmacy_select_div {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    min-width: 700px;
}
.pps_header_container {
    width: 100%;
    text-align: center;
    padding: 4px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
}
.pps_footer_container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 16px 10px 8px;
}
.pps_f_confirm_btn,
.pps_f_close_btn {
    border-radius: 5px;
    padding: 2px 12px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    background-color: black;
    color: #F6F7F7;
    transition: all 0.2s ease-out;
    border: 1px solid #292929;
}
.pps_f_confirm_btn:hover,
.pps_f_close_btn:hover {
    background-color: #6B6B63;
    transition: all 0.2s ease-out;
}
.pps_card_container {
    margin: 12px 0px 18px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 4px 8px;
    display: flex;
    align-items: center;
}
.pps_card_title {
    min-width: 120px;
    font-weight: 600;
    padding-right: 12px;
    cursor: pointer;
    text-align: center;
}
.pps_card_checkbox_container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-between;
}
.pps_checkbox_div {
    display: flex;
    align-items: center;
    margin: 4px 16px;
}
.pps_checkbox_label {
    margin-left: 8px;
}