@import '../style.scss';
body {
  position: relative;
}

h2 {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.desktop_nav {
  z-index: 50;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.mobile_header_logo,
.m_h_trigger {
  display: none;
}

.h_container {
  position: relative;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h_logo {
  position: relative;

  h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  a {
    width: 100px;
    height: 100px;
    display: block;
    padding: 12px;

    img {
      width: 100%;
    }
  }
}

.h_nav {
  ul {
    display: flex;
    list-style: none;
    li {
      margin: 0px 1rem;
      font-size: 1.5rem;
      font-weight: 600;
      position: relative;
      text-align: center;
      cursor: pointer;
    }
    a {
      display: block;
      color: rgb(240, 240, 240);
      text-decoration: none;
      padding-bottom: 16px;
    }
    li::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: map-get($hs-logo-color, 'main');
      transition: all 0.3s ease-in;
    }
    li:hover::after {
      transition: all 0.3s ease-out;
      width: 100%;
    }
  }
}

.mobile_header_logo {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in;
  z-index: 20;

  a {
    width: 100px;
    height: 100px;
    display: block;
    padding: 12px;

    img {
      width: 100%;
    }
  }
}
.m_h_trigger {
  position: fixed;
  right: 25px;
  top: 25px;
  height: 32px;
  width: 32px;
  z-index: 999;
  cursor: pointer;

  span {
    position: absolute;
    display: block;
    width: 32px;
    height: 3px;
    border-radius: 1px;
    background-color: #2d3646;
    transition: transform 0.3s ease-in, top 0.1s 0.3s;
  }
  .m_trigger_1 {
    top: 12px;
  }
  .m_trigger_2 {
    top: 20px;
  }
}

.m_h_trigger_active {
  span {
    background-color: aliceblue;
    transition: top 0.1s, transform 0.3s ease-in 0.1s,
      background-color 0.1s ease-in;
  }
  .m_trigger_1 {
    top: 18px;
    transform: rotate(135deg);
  }
  .m_trigger_2 {
    top: 18px;
    transform: rotate(-135deg);
  }
}
.mobile_nav {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2d3646;
  opacity: 0;
  transition: all 0.3s ease-out;
}

@media screen and (max-width: 550px) {
  .desktop_nav {
    display: none;
  }
  .mobile_header_logo,
  .m_h_trigger {
    display: block;
  }
  .h_nav {
    ul {
      padding-top: 120px;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      li {
        margin-bottom: 24px;
        font-weight: 600;
        position: relative;
        text-align: center;
      }
      a {
        display: block;
        color: whitesmoke;
        text-decoration: none;
        padding-bottom: 16px;
      }
    }
  }
}
