.popup_input_po_num_div {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.682);
    z-index: 999999;
}
.popup_input_po_num_container {
    position: absolute;
    max-width: 640px;
    max-height: 80vh;
    width: 96%;
    padding: 10px;
    border: 1px solid #2c2c2c;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    border-radius: 10px;
}
.ppipn_header_close {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 36px;
    top: 10px;
    right: 10px;
}
.ppipn_header {
    width: 54%;
    padding: 6px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(68, 68, 68);
    color: #ebebeb;
    border-radius: 5px;
    margin: 0px auto 16px;
}
.ppipn_main_container {
    margin-bottom: 16px;
}
.input_style {
    width: 90%;
    font-size: 18px;
    display: block;
    border: none;
    background-color: transparent;
    border-bottom: 1.5px solid #4d4d4d;
    padding: 1px 4px;
    color: #4d4d4d;
    margin: auto;
}
.input_style:focus {
    background-color: transparent;
    border: none;
    border-bottom: 1.5px solid #000;
    outline: none;
    color: #000;
}
.ppipn_footer_container {
    justify-content: center;
    display: flex;
}
.ppipn_main_img {
    display: block;
    height: 100%;
    object-fit: cover;
}
.ppipn_img_container {
    margin-bottom: 16px;
}
.ppipn_img_container,
.ppui_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    overflow: hidden;
}
.ppipn_img_zoom_container,
.ppui_img_zoom_container {
    position: absolute;
    gap: 16px;
    right: 12px;
    bottom: 0px;
}
.ppipn_img_zoom_in,
.ppipn_img_zoom_out,
.ppui_img_zoom_in,
.ppui_img_zoom_out {
    width: 36px;
    height: 36px;
    cursor: pointer;
    padding: 8px;
    background-color: #c4c4c48a;
    border-radius: 5px;
    margin: 8px 0px;
    transition: all 0.2s ease-in-out;
}
.ppipn_img_zoom_in:hover,
.ppipn_img_zoom_out:hover,
.ppui_img_zoom_in:hover,
.ppui_img_zoom_out:hover {
    background-color: #e9e9e98a;
    transition: all 0.2s ease-in-out;
}
.ppipn_img_zoom_in_pic,
.ppipn_img_zoom_out_pic,
.ppui_img_zoom_in_pic,
.ppui_img_zoom_out_pic {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}