@font-face {
    font-family: 'Noto Sans TC';
    src: url('../font/Noto_Sans_TC/static/NotoSansTC-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
}
.main_div {
    margin-top: 40px;
    margin-bottom: 60px;
}
.no_info_data_div {
    padding: 36px;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    color: #e73f3f;
}
.h_title {
    font-size: 24px;
    font-weight: 600;
}
.header_user {
    padding-left: 24px;
}

.header_btn_container {
    display: flex;
    margin-right: 40px;
}

.btn {
  margin: 4px;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid black;
  color: #F6F7F7;
  padding: 4px 16px;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  background-color: black;
}
.btn:hover {
  background-color: #6B6B63;
  transition: all 0.2s ease-out;
}

.cd_main_select_block_container {
    max-width: 1200px;
    display: none;
    position: relative;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #6B6B63;
    margin: 60px auto 0px;

}
.cd_main_select_block_title {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    top: -20px;
    left: 24px;
    background-color: #ffffff;
    padding: 0px 16px;
}
.cd_main_select_block_content_container {
    display: flex;
    flex-wrap: wrap;
}
.cd_main_block_item_div {
    padding: 2px 12px;
    border-radius: 5px;
    background-color: #cbcbca;
    font-weight: 600;
    border: 1px solid #4e4e4d;
    margin: 6px;
}

.main_div_search_container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.search_all_condition_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #000;
}

.search_date_container,
.search_input_container,
.search_condition_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 12px;
    height: 112px;
}

.main_search_btn {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
    height: 48px;
    width: 678px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_date_container {        
    width: 260px;
}

.search_input_container {
    width: 200px;
}
.search_condition_container {
    width: 120px;
}

.sd_label {
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    text-align: center;
    padding: 2px;
    background-color: #6B6B63;
    color: whitesmoke;
    border-radius: 10px;
}
.sd_start_date_container,
.sd_end_date_container {
    width: 100%;
    display: flex;
    margin: 8px 0px;
}
.date_label {
    display: flex;
    align-items: center;
    margin: 0px 8px;
    width: 42px;
}
.date_input {
    flex-grow: 1;
    height: 29px;
    margin-right: 8px;
}

#si_select,
#si_input {
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0px;
}
#si_input {
    padding: 0px 2px;
}
#si_select {
    text-align: center;
    border-radius: 5px;
}

.sc_checkbox_container {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin: 8px 0px;
}
#sc_checkbox,
#sc_uncheckbox {
    position: relative;
    display: block;
    top: 1px;
}
.sc_label {
    display: flex;
    align-items: center;
    margin-left: 8px;
    height: 29px;
    padding-bottom: 1px;
}
.main_div_table_num_container {
    margin: 24px auto 6px;
    padding-right: 12px;
    width: 840px;
    text-align: end;
    font-size: 18px;
    font-weight: 600;
}
.no_data_form {
    margin: 40px;
    color: red;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2px;
    text-align: center;
}

.main_div_table_th_container,
.table_info_container {
    margin-right: auto;
    margin-left: auto;
    width: 884px;
    display: grid;
    grid-template-columns: 48px 80px 120px 120px 48px 48px 48px 48px 80px 200px;
    justify-content: center;
}
.table_info_container {
    cursor: pointer;
}
.th {
    padding: 4px 0px;
    background-color: #b0b0b0;
    text-align: center;
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    border-bottom: 2px solid #000000;
}
.th:last-child {
    border-right: 1px solid #000000;  
}

.td {
    padding: 6px 4px;
    background-color: #efefef;
    text-align: center;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    transition: 0.2s all;
}
.td:last-child {
    border-right: 1px solid #000000;
}
.bgc_gray {
    background-color: #cecece;
}
.table_info_container:hover .td {
    background-color: #111111;
    transition: 0.2s all;
    color: #ffffff;
}

.pagination_container {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pre_page_btn,
.next_page_btn {
    width: 32px;
    height: 32px;
    display: block;
    object-fit: cover;
    padding: 9px;
    cursor: pointer;
}
.next_page_btn {
    transform: rotate(180deg);
}
.disable_page_btn {
    opacity: 0.6;
    cursor: not-allowed;
}
.pagination_pages_container {
    margin: 0px 16px;
    display: flex;
}
.pagination_page {
    display: flex;
    justify-content: center;
    width: 28px;
    height: 28px;
    line-height: 12px;
    padding: 6px;
    margin: 0px 16px;
    border-radius: 50%;
    transition: 0.2s all ease;
    background-color: transparent;
    cursor: pointer;
}
.pagination_page:hover {
    background-color: #d0d0d0;
    transition: 0.2s all ease;
}
.current_pagination_page {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.under-line {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    height: 30px;
    line-height: 30px;
    display: block;
    z-index: 9;
}