.popup_med_balance_form_div {
    min-width: 1000px;
    margin: 0px;
    box-sizing: border-box;
}
.popup_mbf_header {
    margin-bottom: 16px;
}
.pp_mbf_header_title {
    width: 100%;
    text-align: center;
    padding: 4px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    background-color: gray;
    color: #fff;
    border-radius: 5px;
}
.pp_mbf_header_content_contaienr {
    padding-left: 8px;
    font-weight: 600;
}
.pp_mbf_h_title,
.pp_mbf_h_start_time_title,
.pp_mbf_h_end_time_title {
    font-weight: 600;
    text-shadow: 0px 0px 3px 3px black;
}
.pp_mbf_header_name_div,
.pp_mbf_header_ctname_div,
.pp_mbf_header_code_div {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}
#pp_mbf_h_code_content,
#pp_mbf_h_dkind_content,
#pp_mbf_h_unit_content,
#pp_mbf_h_sum_content,
#pp_mbf_h_name_content,
#pp_mbf_h_form_num {
    margin-right: 16px;
}
#pp_mbf_h_code_content,
#pp_mbf_h_dkind_content,
#pp_mbf_h_unit_content,
#pp_mbf_h_sum_content,
#pp_mbf_h_name_content,
#pp_mbf_h_ctname_content,
.pp_mbf_h_start_time,
.pp_mbf_h_end_time,
#pp_mbf_h_form_num {
    padding: 0px 4px;
    border-bottom: 1px solid black;
}
.pp_mbf_header_daterange_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pp_mbf_h_time_div {
    width: 50%;
    display: flex;
    align-items: center;
}
.pp_mbf_main_container {
    max-height: 400px;
    overflow-y: auto;
}

.pp_mbf_footer_container {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}
.pp_mbf_close_btn,
.pp_mbf_download_btn {
  padding: 4px 16px;
  border-radius: 5px;
  border: 1px solid #4e4e4d;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  background-color: black;
  color: #F6F7F7;
  transition: all 0.2s ease-out;
}
.pp_mbf_download_btn {
    margin-left: 16px;
}
.pp_mbf_close_btn:hover,
.pp_mbf_download_btn:hover {
    background-color: #6B6B63;
  transition: all 0.2s ease-out;
}

.pp_mbf_main_th_container,
.pp_mgf_main_td_container {
    display: flex;
}
.pp_mbf_th_style,
.pp_mgf_main_tr {
    padding: 2px 0px;
    border-left: 1px solid #4e4e4d;
    border-bottom: 1px solid #4e4e4d;
    font-weight: 600;
    text-align: center;
}
.pp_mbf_th_style {
    color: #fff;
    background-color: gray;
    border-top: 1px solid #4e4e4d;
    border-bottom: 2px solid #4e4e4d;
}
.pp_mgf_main_tr_bgc {
    background-color: #d9d9d9;
}
.pp_mbf_th_0,
.pp_mgf_main_tr_0 {
    width: 40px;
}
.pp_mbf_th_1,
.pp_mgf_main_tr_1 {
    width: 180px;
}
.pp_mbf_th_2,
.pp_mgf_main_tr_2 {
    width: 100px;
}
.pp_mbf_th_3,
.pp_mgf_main_tr_3 {
    width: 50px;
}
.pp_mbf_th_4,
.pp_mgf_main_tr_4 {
    width: 120px;
}
.pp_mbf_th_5,
.pp_mgf_main_tr_5 {
    width: 120px;
}
.pp_mbf_th_6,
.pp_mgf_main_tr_6 {
    width: 120px;
}
.pp_mbf_th_7,
.pp_mgf_main_tr_7 {
    width: 60px;
}
.pp_mbf_th_8,
.pp_mgf_main_tr_8 {
    width: 80px;
}
.pp_mbf_th_9,
.pp_mgf_main_tr_9 {
    width: 120px;
    border-right: 1px solid #4e4e4d;
}