@font-face {
    font-family: 'Noto Sans TC';
    src: url('../font/Noto_Sans_TC/static/NotoSansTC-Regular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 80px;
}
.main_div {
    margin-top: 40px;
    margin-bottom: 60px;
}
.no_info_data_div {
    padding: 36px;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    color: #e73f3f;
}
.h_title {
    font-size: 24px;
    font-weight: 600;
}
.header_user {
    padding-left: 24px;
}

.header_btn_container {
    display: flex;
    margin-right: 40px;
}

.btn {
  margin: 4px;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid black;
  color: #F6F7F7;
  padding: 6px 32px;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  background-color: black;
}
.btn:hover {
  background-color: #6B6B63;
  transition: all 0.2s ease-out;
}
.unable_btn {
    cursor: not-allowed;
    background-color: #b8b8b8;
    border: 1px solid #b8b8b8;
    color: #000;
}
.unable_btn:hover {
    background-color: #b8b8b8;
    transition: all 0.2s ease-out;
}
.anal_result_container {
    max-width: 1200px;
    padding: 8px;
    margin: auto;
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
}
.anal_card {
    border-radius: 5px;
    border: 3px solid #000;
    min-height: 100px;
    margin-bottom: 20px;
    cursor: pointer;
    padding: 12px;
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
}
.card_med_content_info {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}
.card_info_container {
    color: #383838;
    display: flex;
    padding-bottom: 8px;
}
.card_info_container_2 {
    color: #383838;
    padding-bottom: 4px;
}
.card_op_num,
.card_batch_num,
.card_expirydate,
.card_qty {
    color: #000;
    font-size: 20px;
    font-weight: 800;
}
.error_info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_btn_container {
    margin-top: 12px;
    display: flex;
    justify-content: flex-end;
}
.tb_btn_container {
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
}

.bgc_red {
    background-color: #f69999;
}
.bgc_yellow {
    background-color: rgb(241, 233, 145);
}
.bgc_success {
    background-color: rgb(145, 241, 174);
}

.under-line {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    height: 30px;
    line-height: 30px;
    display: block;
    z-index: 9;
}

@media screen and (max-width: 768px) {
    /* 在寬度小於或等於 768px 的屏幕上應用這些樣式 */
    .main_div {
        margin-top: 20px;
    }
}
@media screen and (max-width: 600px) {
    /* 在寬度小於或等於 768px 的屏幕上應用這些樣式 */
    .header {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 0px;
    }
    .main_div {
        margin-top: 0px;
    }
    .header_title_container {
        padding-left: 68px;
    }
    .header_btn_container {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-right: 0px;
        margin: 12px auto 0px;
        padding: 0px 8px;
    }
    .header_upload_img_btn {
        width: 100%;
        text-align: center;
    }
    .header_recover_btn {
        width: calc(50% - 8px);
        text-align: center;
    }
    .header_logout_btn {
        width: calc(50% - 8px);
        text-align: center;
    }
    .anal_result_container {
        padding: 12px;
        grid-template-columns: 100%;
    }
    .anal_card {
        margin-bottom: 12px;
        padding: 12px;
        grid-template-columns: 100%;
    }
}