* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.gm_header_display_container {
    display: flex;
    justify-content: center;
    padding: 20px 40px;
    align-items: center;
}
.gm_header_display_container > h2 {
    text-align: center;
    flex-grow: 1;
}
#current_group_select {
    min-width: 240px;
    padding: 2px 8px;
    font-size: 1.2rem;
}
/* #current_group_select > option:first-child {
    text-align: center;
} */
.new_group_creat_button {
    cursor: pointer;
    padding: 4px 24px;
    color: #F6F7F7;
    background-color: #6B6B63;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 20px;
    transition: 0.2s ease-out;
}
.new_group_creat_button:hover {
    color: rgb(35, 35, 35);
    background-color: black;
    border: 1px solid #F6F7F7;
    transition: 0.2s ease-out;
}
.banned_to_use {
    cursor: not-allowed;
    filter: grayscale(1);
}
/* 群組細節樣式 */
.gm_content {
    text-align: center;
    padding: 12px 40px;
    max-width: 760px;
    margin: auto;
    background-color:#F6F7F7;
    border: 2px solid #7f5e0a;
    border-radius: 5px;
    position: relative;
}
.gm_content_header_container, .gm_content_name_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.gm_content_name_title {
    margin-right: 8px;
    font-weight: 600;
    font-size: 1.2rem;
}
.gm_content_name_input {
    margin: auto;
    display: block;
    max-width: 320px;
    height: 40px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 5px;
}
.gm_content_name_input:disabled {
    background-color: #dedede;
    color: #000000;
    user-select: none;
}
.gm_content_med_control_container {
    margin: 16px 0;
    width: 100%;
    display: flex;
}
.gm_content_med_select_show_button,
.gm_content_med_search_button {
    text-align: center;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2px 20px;
    cursor: pointer;
    transition: 0.2s ease-out;
    color: #F6F7F7;
    background-color: #6B6B63;
    border: 1px solid black;
}
.gm_content_container {
    padding-bottom: 100px;
}
.gm_content_med_search_button {
    min-width: 80px;
}
.gm_content_med_select_show_button:hover,
.gm_content_med_search_button:hover {
    background-color: lightgray;
    color: #000000;
    transition: 0.2s ease-out;
}
.gm_content_med_search_container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}
.gm_content_med_search_type {
    font-size: 1.2rem;
    font-weight: 600;
}
.gm_content_med_search_input_container {
    margin: 0px 12px 0px 8px;
}
.gm_content_med_search_input {
    height: 32px;
    color: #b0b0b0;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    display: block;
}
.gm_content_med_search_input_focus {
    color: #000000;
}
.gm_content_med_search_select {
    height: 32px;
    width: 256px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
}

/* .gm_content_med_quantity_container {
    display: flex;
    margin-bottom: 8px;
    justify-content: space-evenly;
} */

.gm_content_med_display_container {
    margin-bottom: 20px;
    width: 100%;
}
.gm_content_med_display_table {
    border: 2px solid #001e78;
    width: 100%;
    background-color: #b0da7d;
    border-spacing: 0px;
}
.gm_content_med_display_thead {
    background-color: #dedede;
}
.gm_content_med_display_thead > tr > th {
    padding: 4px 0px;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #6B6B63;
    border: 1px solid #dedede;
}
.th_1 {
    width: 34px;
}
.th_2 {
    width: 72px;
}
.th_3 {
    width: 86px;
}
.th_4 {
    width: 48px;
}
.th_5 {
    width: 450px;
}

.med_selected_all_or_not_container {
    width: 100%;
    display: flex;
    justify-content: center;
}
.all_selected, .all_not_selected {
    border: 1px solid #000000;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    cursor: pointer;
    background-color: lightgray;
    color: black;
    margin: 6px 16px;
    padding: 4px 16px;
}
.gm_content_med_display_tbody > tr {
    padding: 4px 0px;
    font-weight: 600;
    background-color: #FFF;
}
.gm_content_med_display_tbody > tr > td {
    border: 1px solid #dedede;
}
.check_box_code {
    width: 24px;
    height: 24px;
}
.check_box_code:checked {
    background-color: #3f86c9;
}
.gm_content_med_display_tbody > tr > td:last-child {
    padding-left: 16px;
    text-align: left;
}
.cardinality_item {
    background-color: lightgray !important;
}
.gm_content_med_quantity_save_container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.gm_content_med_selection_quantity {
    font-size: 1.2rem;
    font-weight: 600;
}
.gm_content_med_display_tfoot > tr {
    background-color: dimgray;
    width: 100%;
}
.gm_content_med_display_tfoot > tr > td > div {
    display: flex;
    width: 100%;
    padding: 4px 0px;
}
.med_display_page_control_container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.med_display_page_control_style {
    width: 40px;
    height: 40px;
    margin: 0px 16px;
    border: 1px solid #000000;
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    background-color: lightgray;
    transition: 0.2s ease;
}
.med_display_page_control_style:hover {
    background-color: gray;
    transition: 0.2s ease;
}
.med_display_page_control_style > img {
    height: 100%;
    display: block;
}
.pre_page {
    transform: rotate(180deg);
}
.med_display_page_show {
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 12px;
    line-height: 40px;
}
.gm_content_group_save_button {
    font-size: 1.2rem;
    font-weight: 600;
    cursor: not-allowed;
    padding: 2px 24px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #b0b0b0;
}
.save_button_active {
    cursor: pointer;
    background-color: rgb(1, 110, 146);
    color: #ffffff;
    transition: 0.2s ease-in;
}
.save_button_active:hover {
    background-color: rgb(37, 190, 241);
    color: #000000;
    transition: 0.2s ease-out;
}


/* 彈跳視窗樣式 */
.pop_group_create_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 260px;
    height: 300px;
    background-color: #ffffff;
}
.create_group_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.create_group_container > label {
    font-size: 1.2rem;
    font-weight: 600;
}
#create_group_name {
    font-size: 1.2rem;
    border: 1px solid #000000;
    border-radius: 5px;
    height: 32px;
    width: 160px;
    margin: 16px 0 24px;
    padding: 0px 6px;
}
.create_group_button {
    cursor: pointer;
    padding: 6px 16px;
    background-color: rgb(212, 191, 167);
    border: 1px solid #000000;
    border-radius: 5px;
    transition: 0.3s ease-out;
}
.create_group_button:hover {
    background-color: bisque;
}
.close_create_group_button {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 24px;
    height: 24px;
}
.close_create_group_button > img {
    width: 100%;
} 

/* footer樣式 */
.bottom_gm_nav_container {
    box-sizing: border-box;
    width: 100%;
    background-color: #a1a1a1;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    position: fixed;
    bottom: 30px;
    left: 0;
    padding: 0px 12px;
    z-index: 10;
  }
  .bottom_gm_nav_card_container {
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .bottom_gm_nav_card {
    text-align: center;
    height: 36px;
    line-height: 36px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(217, 223, 228);
    background-color: rgb(5, 55, 99);
    border: 1px solid rgb(10, 100, 178);
    border-radius: 5px;
    padding: 0px 24px;
    margin: 8px 12px;
    cursor: pointer;
    transition: 0.3s ease-out;
  }
  .current_funtion {
    border: 1px solid rgb(10, 100, 178);
    color: rgb(239, 239, 239);
    background-color: rgb(196, 151, 29);
    cursor: auto;
  }
  .bottom_gm_nav_card:hover {
    color: rgb(35, 35, 35);
    background-color: rgb(15, 184, 240);
    border: 1px solid rgb(5, 55, 99);
    transition: 0.3s ease-out;
  }
  .current_funtion:hover {
    box-sizing: border-box;
    border: 1px solid rgb(10, 100, 178);
    color: rgb(239, 239, 239);
    background-color: rgb(196, 151, 29);
  }


.under-line {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    height: 30px;
    line-height: 30px;
    display: block;
    z-index: 5;
}

@media screen and (max-width: 860px) {
    .gm_content_med_control_container, .gm_content_med_search_container {
        flex-direction: column;
        align-items: center;
    }
    .gm_content_med_search_container {
        margin: 12px 0px;
    }
    .gm_content_med_select_show_button {
        max-width: 300px;
    }
    .gm_content_med_search_input {
        margin: 8px 0px;
    }
    .gm_header_display_container {
        flex-direction: column;
    }
    .gm_header_display_container > h2, #current_group_select {
        margin-bottom: 12px;
    }
    .gm_content_container {
        margin: 0px 0px 100px 0;
    }
}

@media screen and (max-width: 500px) {
    .gm_content {
        padding: 12px 12px;
    }
    .gm_content_header_container, .gm_content_name_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .gm_content_container {
        margin: 0px 0px 150px 0;
    }
}
