.mm_header_container {
    padding: 8px 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mm_header_title {
    font-size: 24px;
    font-weight: 600;
}

.mm_header_button_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mm_header_btn_style {
    margin: 4px;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    border: 1px solid black;
    background-color: #6B6B63;
    color: #F6F7F7;
    padding: 4px 16px;
    border-radius: 5px;
    transition: all 0.2s ease-out;
}

.mm_header_btn_style:hover {
    background-color: black;
    transition: all 0.2s ease-out;
}

.mm_main_container {
    margin: auto;
    max-width: 1200px;
    margin-top: 20px;
}

.mm_display_container {
    width: 540px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mm_med_info_display_container {
    width: 50%;
    margin: auto;
    padding: 12px;
}
.popup_med_search_container {
    width: 54%;
    padding: 12px;
}

.mm_all_display_container {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.mm_med_dispaly_input_container {
    display: flex;
    align-items: center;
}

.mm_med_info_display_title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
}
.mm_med_label,
.popup_med_label {
    display: inline-block;
    margin: 4px;
    min-width: 80px;
    background-color: #e6e6e6;
    padding: 2px 8px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    font-weight: 600;
    text-align: center;
}
.mm_med_input {
    display: inline-block;
    padding: 3px 4px;
}
.mm_med_select_style {
    padding: 3px 4px;
}
#mm_med_code,
#mm_med_reserve,
#mm_med_safe_reserve {
    width: 80px;
}
#mm_med_name,
#mm_med_dianame,
#mm_med_ctname {
    width: 240px;
}

.mm_med_display_btn_container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.mm_med_display_btn_style {
    margin: 0px 12px;
    padding: 4px 16px;
    font-weight: 600;
    border: 1px solid #9b9b9b;
    background-color: #cbcbcb;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.mm_med_display_btn_style:hover {
    background-color: #9f9f9f;
    transition: all 0.2s ease-in;
}
#delete_med_btn {
    background-color: #292929;
    color: #f7f7f7;
}

.popup_med_search_bar_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.popup_med_search_input_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
    margin: 4px 0px;
}

.popup_med_search_select_style {
    padding: 3px 4px;
    width: 116px;
    text-align: center;
    flex-grow: 1;
    margin: 0px 12px;
}

.popup_med_search_input {
    padding: 3px 4px;
    width: 116px;
    flex-grow: 1;
    margin: 0px 12px;
}

.popup_med_search_btn {
    margin-right: 4px;
    padding: 2px 12px;
    cursor: pointer;
}
.popup_med_search_btn_container {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-evenly;
}
.popup_med_search_btn_style {
    padding: 4px 16px;
    font-weight: 600;
    border: 1px solid #9b9b9b;
    background-color: #cbcbcb;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.popup_med_search_btn_style:hover {
    background-color: #9f9f9f;
    transition: all 0.2s ease-in;
}

.mm_med_diplay_notice {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
}

.mm_med_display_kind_set_container,
.mm_med_display_special_mark_container {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  border-radius: 5px;
  border: 2px solid #cacaca;
  margin-bottom: 8px;
}

.kind_set_style {
  margin-left: 6px;
}

.mm_all_display_header_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #cbcbcb;
}

.table_style {
    padding: 4px 0px 4px 4px;
    border-top: 2px solid #9b9b9b;
    border-left: 2px solid #9b9b9b;
    border-bottom: 2px solid #9b9b9b;
}

.table_0 {
    width: 3%;
}
.table_1 {
    width: 7%;
}
.table_2 {
    width: 14%;
}
.table_3 {
    width: 14%;
}
.table_4 {
    width: 14%;
}
.table_5 {
    width: 7%;
}
.table_6 {
    width: 7%;
}
.table_7 {
    width: 8%;
}
.table_8 {
    width: 5%;
}
.table_9 {
    width: 7%;
}
.table_10 {
    width: 7%;
}
.table_11 {
    width: 7%;
    border-right: 2px solid #9b9b9b;
}

.med_item_container {
    cursor: pointer;
    display: flex;
    color: black;
    background-color: #ffffff00;
    transition: all 0.1s ease-in;
}
.med_item_container:hover {
    background-color: #4a4a4a;
    color: whitesmoke;
    transition: all 0.1s ease-in;
}
.popup_med_item_div {
    width: 660px;
}
.popup_med_search_div {
    width: 330px;
}

.popup_med_info_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.popup_med_info_container > div {
    display: flex;
    align-items: center;
    margin: 2px 6px 2px 0px;
    flex-grow: 1;
}
.popup_med_info_container > div > label {
    display: inline-block;
    margin: 4px 4px 4px 0px;
    min-width: 80px;
    background-color: #e6e6e6;
    padding: 2px 0px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #9b9b9b;
    font-weight: 600;
    text-align: center;
    justify-content: center;
}
.popup_med_info_container > div > input {
    font-size: 16px;
    padding: 4px 4px;
}
.popup_med_info_container > div > input:not(.validation) {
    border: 1px solid #5a5a58;
    border-radius: 5px;
}
#popup_med_name,
#popup_med_dianame,
#popup_med_ctname,
#popup_med_pakage,
#popup_med_scode,
#popup_med_factory, 
#popup_med_lincense {
    margin-left: 8px;
    width: 524px;
    /* flex-grow: 1; */
}

#popup_med_code {
    display: block;
    margin-left: 8px;
    margin-right: 12px;
    width: 200px;
}
#popup_med_drugkind {
    display: block;
    text-align: center;
    margin-left: 8px;
    padding: 2px 4px;
    font-size: 16px;
    font-weight: 600;
    width: 200px;
}

.popup_med_item_control_div {
    display: flex;
    align-items: center;
    margin: 2px 8px;
}
.popup_med_kind_checked_container {
    padding-top: 16px;
    min-height: 46px;
    width: 455px;
}
.popup_med_kind_checked_container,
.popup_med_special_mark_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5px;
    border: 2px solid #cacaca;
    margin: 16px 0px;
}

#popup_date_manager_div,
#popup_double_inventory_div,
#popup_blind_inventory_div,
#popup_balance_report_div,
#popup_double_review_div,
#popup_narcosis_med_div {
    display: none;
}

.popup_med_type_set_container {
    left: 40px;
    top: -18px;
    padding: 0px 12px;
    background-color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}
.popup_med_type_set_container > label {
    margin-left: 4px;
}

.underline_div_serch_div_popup_serch {
    display: flex;
    justify-content: space-between;
}
.underline_div_search_btn_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 12px;
}
.underline_new_modify_med_btn,
.underline_close_med_item_popup_btn,
.underline_popup_btn_style {
    font-size: 1.1rem;
    font-weight: 600;
    padding: 4px 16px;
    background-color: #cbcbcb;
    border-radius: 5px;
    border: 1px solid #292929;
    cursor: pointer;
}

#search_med_select_method {
    text-align: center;
    padding: 2px 8px;
    font-size: 16px;
    font-weight: 600;
    height: 32px;
    border-radius: 5px;
}
.search_input_container {
    height: 32px;
    position: relative;
    margin: 0px 16px;
    flex-grow: 1;
}
#search_med_input {
    display: block;
    top: 1px;
    left: 0px;
    position: absolute;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    padding: 2px 8px;
    font-size: 16px;
}
#search_drug_kind_select {
    display: block;
    top: 1px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 30px;
    text-align: center;
    display: none;
    font-size: 16px;
    font-weight: 600;
}
.search_med_btn {
    padding: 4px 16px;
    border-radius: 5px;
    border: 1px solid #292929;
    background-color: #cbcbcb;
    font-weight: 600;
    cursor: pointer;
}
.med_item_card_container {
    margin: 2px;
    width: 48%;
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 2px solid #949494;
    display: flex;
}
.med_item_content_container {
    padding: 8px;
    width: 80%;
    flex-grow: 1;
}
.med_item_img_container {
    width: 20%; 
}
.med_item_img_container > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px 0px 0px 3px;
}
.med_item_name_content,
.med_item_ctname_content {
    margin-bottom: 4px;
    font-weight: 600;
    display: flex;
}
.med_item_name_content_span {
    width: 50px;
}
.med_item_ctname_content_span {
    width: 64px;
}
.med_item_btn_container {
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
}
.med_item_code_content {
    color: #373737;
}
.med_item_modify_btn,
.med_item_delete_btn {
    margin-left: 8px;
    padding: 4px 12px;
    border-radius: 5px;
    background-color: #969696;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.med_item_modify_btn:hover,
.med_item_delete_btn:hover {
    background-color: #5c5c5c;
    transition: all 0.2s ease-in;
    color: #f0f0f0;
}

/* #popup_date_manager:disabled,
#popup_double_inventory:disabled,
#popup_blind_inventory:disabled,
#popup_balance_report:disabled,
#popup_double_review:disabled {
} */

@media screen and (max-width: 1200px) {
    .mm_med_info_display_container {
        margin: 0px auto 16px;
        width: 95%;
        padding: 12px;
    }
    .mm_med_dispaly_input_container {
        flex-wrap: wrap;
    }
    .popup_med_search_container {
        margin: auto;
        width: 95%;
    }
    .popup_med_search_input_container {
        width: 95%;
    }
    .mm_all_display_container {
        width: 100%;
        margin: 20px auto 100px;
    }
    .mm_med_diplay_notice {
        width: 95%;
        margin: auto;
    }
    .med_item_card_container {
        width: 95%;
    }
}
@media screen and (max-width: 550px) {
    .mm_display_container {
        width: 340px;
    }
    .serch_box_med_item_div {
        flex-wrap: nowrap !important;
        height: 500px;
        overflow-y: scroll;
        justify-content: start !important;
    }
    .popup_med_kind_checked_container,
    .popup_med_special_mark_container {
        width: 330px;
        justify-content: flex-start;
    }
    .mm_header_container {
        padding: 8px 16px;
    }
    .mm_header_title {
        margin-left: 60px;
    }
    .popup_med_item_div {
        width: 356px;
    }
    .popup_med_info_container > div > label {
        display: inline-block;
        margin: 4px 4px 4px 0px;
        min-width: 80px;
        background-color: #e6e6e6;
        padding: 2px 0px;
        width: 86px;
        border-radius: 5px;
        border: 1px solid #9b9b9b;
        font-weight: 600;
        text-align: center;
        justify-content: center;
    }
    #popup_med_name,
    #popup_med_dianame,
    #popup_med_ctname,
    #popup_med_pakage,
    #popup_med_scode,
    #popup_med_factory, 
    #popup_med_lincense {
        width: 230px;
    }
    #popup_med_code {
        width: 72px;
    }
    #popup_med_drugkind {
        width: 48px;
    }
}