.popup_bed_change_div {
    width: 480px;
}

.ppbc_header_container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 12px;
}
.ppbc_h_title {
    padding: 4px 48px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    background-color: rgb(222, 222, 222);
    color: #000000;
    border-radius: 5px;
}
.ppbc_h_close_btn {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 36px;
    top: 0px;
    right: 0px;
}
.ppbc_h_cart_name {
    padding: 0px 10px;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ppbc_main_container {
    display: grid;
    grid-template-columns: 100%;
    gap: 10px;
    padding-right: 4px;
}
.ppbc_card_container {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    font-size: 18px;
}
.ppbc_bed_in_bg {
    background-color: #cdf2d8;
}

.ppbc_bed_out_bg {
    background-color: #ebd6bc;
}

.ppbc_paitient_status,
.ppbc_paitient_bed {
    text-align: center;
}

.ppbc_paitient_bed {
    text-decoration: underline;
}


.ppbc_footer_container {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

@media screen and (max-width: 550px) {
    .popup_bed_change_div {
        width: 360px;
    }
    .ppbc_main_container {
        height: 504px;
        overflow-y: scroll;
    }
    .pp_bed_card {
        height: 60px;
    }
}