.popup_med_pic_div {
    width: 92vw;
    width: 92svw;
    height: 92vh;
    height: 92svh;
    max-width: 800px;
    display: flex !important;
    justify-content: start !important;
    justify-content: flex-start !important;
    flex-direction: column;
}

.ppmp_header_container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 16px;
}
.ppmp_h_title {
    padding: 4px 48px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    background-color: rgb(222, 222, 222);
    color: #000000;
    border-radius: 5px;
}
.ppmp_h_close_btn {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 36px;
    top: 0px;
    right: 0px;
}
.ppmp_main_name {
    padding: 0px 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    width: 100%;
}
.ppmp_main_container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}
.ppmp_main_cht_name {
    width: 100%;
    padding: 0px 16px;
    line-height: 24px;
}
.ppmp_main_code {
    width: 100%;
    padding: 0px 24px;
    line-height: 24px;
    margin-bottom: 12px;
}
.ppmp_footer_container {
    display: flex;
}
.ppmp_main_img {
    display: block;
    object-fit: cover;
    padding: 8px;
    width: 100%;
}

@media screen and (max-width: 550px) {
}