.popup_bed_list_div {
    width: 480px;
}

.ppbl_header_container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 16px;
}
.ppbl_h_title {
    padding: 4px 48px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    background-color: rgb(222, 222, 222);
    color: #000000;
    border-radius: 5px;
}
.ppbl_h_close_btn {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 36px;
    top: 0px;
    right: 0px;
}
.ppbl_h_cart_name {
    padding: 0px 10px;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ppbl_main_container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 18% 18% 18% 18% 18%;
}
.pp_bed_card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 16px 0px; */
    width: 100%;
    height: 52px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #717171;
    margin-bottom: 12px;
    cursor: pointer;
    color: white;
    /* overflow: hidden; */
}
.pp_bed_notice {
    display: block;
    position: absolute;
    width: 24px;
    top: -8px;
    right: -6px;
    z-index: 10;
}
.pp_current_bed::after {
    content: "";
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    top: 0px;
    left: 0px;
    position: absolute;
    border-radius: 5px;
    border: 4px solid rgb(232, 135, 158);
}
.pp_done_bed {
    background-color: #C1EA69;
    color: #000000;
}

/* .pp_last_selected_bed {
    border: 2px solid rgb(234, 123, 148);
} */
.pp_last_selected_bed::before {
    content: "前一病床";
    width: 100%;
    background-color: rgb(232, 135, 158);
    color: white;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -1px;
    left: 0px;
    padding: 0px 0px 1px 0px;
    border-radius: 0px 0px 5px 5px;
}
.pp_nouse_bed {
    cursor: not-allowed;
    background-color: #d4d4d4;
}
.pp_nouse_bed::before {
    content: "空床";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9a9a9a;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    bottom: 0px;
    font-size: 12px;
    color: #000000;
}
.pp_logout_bed::before {
    content: "轉出";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9a9a9a;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    bottom: 0px;
    font-size: 12px;
    color: #000000;
}
.ppbl_footer_container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 550px) {
    .popup_bed_list_div {
        width: 360px;
    }
    .ppbl_main_container {
        height: 520px;
        overflow-y: scroll;
    }
    .pp_bed_card {
        height: 60px;
    }
}