.popup_discharged_list_div {
    width: 92vw;
    width: 92svw;
    height: 92vh;
    height: 92svh;
    max-width: 800px;
    display: flex !important;
    justify-content: start !important;
    justify-content: flex-start !important;
    flex-direction: column;
}
.ppdl_header_container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.ppdl_h_title {
    padding: 8px 24px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(222, 222, 222);
    color: #000000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.ppdl_h_title_content {
    padding-left: 12px;
}
.ppdl_h_current_cart_select {
    border-radius: 5px;
    padding: 2px 6px;
    border: none;
    font-size: 16px;
    width: 140px;
    text-align: center;
}
.ppdl_h_close_btn {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 36px;
    top: 0px;
    right: 0px;
}

.ppdl_main_container {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 4px;
}

/* 整個捲動條的樣式 */
.ppdl_main_container::-webkit-scrollbar {
    width:  6px; /* 調整捲動條的寬度 */
    height: 4px; /* 水平捲動條的高度 */
}

/* 捲動條的滑軌部分 */
.ppdl_main_container::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
    border-radius: 10px;
}

/* 捲動條的滑塊（可以拖動的部分） */
.ppdl_main_container::-webkit-scrollbar-thumb {
    background-color: #878787; /* 滑塊的顏色 */
    border-radius: 10px; /* 使滑塊變圓角 */

}
.ppdl_span_main_content {
    display: block;
    text-align: center;
    font-size: 24px;
    margin: 24px;
}
.ppdl_return_container{
    margin: 8px 0px;
    padding: 12px 0px;
    width: 100%;
}
.ppdl_return_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.ppdl_bed_number_label {
    text-align: center;
    padding: 4px 8px;
    font-size: 20px;
    border-radius: 5px;
    color: black;
}

.ppdl_return_all_btn {
    width: 100%;
    margin: 0px;
    margin-bottom: 8px;
}

.ppdl_med_card_container {
    display: flex;
    justify-content: space-between;
    padding: 10px 6px;
    border-radius: 5px;
    background-color: #e0e0e0;
    margin-bottom: 12px;
    align-items: center;
}

.ppdl_med_info_container {
    flex-grow: 1;
    padding-right: 8px;
}
.ppdl_med_info_detail {
    display: flex;
    padding-top: 6px;
    align-items: center;
    justify-content: space-between;
}

.ppdl_med_info_qty {
    font-size: 20px;
    font-weight: 600;
}
.ppdl_cpoe_status {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
}
.ppdl_head_sort_container {
    width: 100%;
} 
.ppdl_head_sort_title {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 20px;
}
.ppdl_head_med_table_filter_container {
    width: 100%;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    justify-content: space-between;
    margin-bottom: 12px;
}
.ppdl_filter_med_table_input {
    display: none;
}
.ppdl_filter_med_label {
    border-radius: 4px;
    padding: 4px;
    text-align: center;
    background-color: #d7d7d7;
    transition: all 0.2s ease-out;
    border: 1px solid #000;
    cursor: pointer;
}
.ppdl_head_med_table_filter_container input[type="radio"]:checked + label  {
    background-color: #5e5e5e;
    transition: all 0.2s ease-out;
    color: #ffffff;
}


@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 550px) {
}
