.popup_prescription_info_div {
    width: 360px;
}

.ppp_info_header_container {
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 8px;
}
.ppp_info_h_title {
    padding: 4px 48px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    background-color: rgb(222, 222, 222);
    color: #000000;
    border-radius: 5px;
}
.ppp_info_h_close_btn {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 36px;
    top: 0px;
    right: 0px;
}
.ppp_info_footer_container {
    display: flex;
}
.ppp_info_main_img {
    width: 100%;
    object-fit: cover;
    padding: 16px;
}
.ppp_info_main_container {
    height: 400px;
    overflow-y: auto;
}
.ppp_med_info_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 12px;
}
.ppp_info_main_title {
    padding: 3px 16px;
    border-radius: 5px;
    background-color: #fda444;
    line-height: 24px;
    margin-bottom: 8px;
}