* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.under-line {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    height: 30px;
    line-height: 30px;
    display: block;
    z-index: 5;
}
